.wrapper {
  width: 100%;
}

.label {
  display: block;
  color: var(--text-300);
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: 500;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding-left: 14px;
}

.inputContainer .leftIcon ~ .input {
  padding-left: 40px;
}

.inputContainer .rightIcon ~ .input {
  padding-right: 40px;
}

.leftIcon, .rightIcon {
  position: absolute;
  color: var(--text-300);
  width: 18px;
  height: 18px;
}

.leftIcon {
  left: 12px;
}

.rightIcon {
  right: 12px;
}

.inputContainer:focus-within {
  border-color: var(--accent);
  box-shadow: 0 0 0 3px var(--accent-glow);
}

.errorState .input {
  border-color: var(--danger);
}

.errorState:focus-within .input {
   box-shadow: 0 0 0 3px var(--danger-tint);
   border-color: var(--danger);
}

.errorText, .helperText {
  font-size: 12px;
  margin-top: 4px;
}

.errorText {
  color: var(--danger);
}

.helperText {
  color: var(--text-400);
}
